<a href="https://colab.research.google.com/github/MingyuKIM615/ITWILL_PYTHON/blob/master/py12_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

## list, dict 사용

In [ ]:
students = [
            {'name' : 'aa', 'korean':90, 'english': 95, 'math': 80},
            {'name' : 'bb', 'korean':70, 'english': 80, 'math': 55},
            {'name' : 'cc', 'korean':80, 'english': 95, 'math': 90},
            {'name' : 'dd', 'korean':77, 'english': 99, 'math': 80},
]

In [ ]:
# 각 학생의 3과목 총점과 평균
for s in students:
  total = s['korean'] + s['english'] + s['math']
  mean = total / 3
  print(f'이름 : {s["name"]}, 총점: {total}, 평균: {mean}')

이름 : aa, 총점: 265, 평균: 88.33333333333333
이름 : bb, 총점: 205, 평균: 68.33333333333333
이름 : cc, 총점: 265, 평균: 88.33333333333333
이름 : dd, 총점: 256, 평균: 85.33333333333333

## 함수형 프로그래밍(Functional Programming)

In [ ]:
def create_student(name, korean, english, math):
  student = {
      'name' : name,
      'korean' : korean,
      'english' : english,
      'math': math,
  }
  return student

In [ ]:
students = [
            create_student(name='aa', korean=100, english=100, math=100),
            create_student(name='bb', korean=90, english=100, math=100),
            create_student(name='cc', korean=80, english=100, math=100),
            create_student(name='dd', korean=70, english=100, math=100),
]

In [ ]:
def get_total(student):
  return student['korean'] + student['english']  + student['math']

In [ ]:
def get_mean(student):
  return get_total(student) / 3

In [ ]:
for s in students:
  total = get_total(s)
  mean = get_mean(s)
  print(f'이름: {s["name"]}, 총점:{total}, 평균: {mean}')

이름: aa, 총점:300, 평균: 100.0
이름: bb, 총점:290, 평균: 96.66666666666667
이름: cc, 총점:280, 평균: 93.33333333333333
이름: dd, 총점:270, 평균: 90.0

# 객체 지향 프로그래밍(OOP)

* 객체 (object): 소프트웨어로 구현할 대상.
* 클래스(class): 객체를 구현하기 위한 소스 코드.
    * 속성(attribute, property): 객체가 가져야 하는 데이터. 변수들에 저장되는 값.
    * 메서드(method): 객체가 가져야 하는 기능. 클랫그 내부에서 정의하는 함수.
* 인스턴스(instance): 클래스를 사용해서 메모리에 생성된 객체.
* 인스턴스 생성(instantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(constructor): 클래스 이름과 동일한 함수.

In [ ]:
# 클래스 정의
class Student:
  # 생성자 함수: 생성자가 호출됐을 때 자동으로 호출되는 함수. 속성들을 선언하고 초기화.
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english  = english
    self.math = math

  # 메서드
  def get_total(self):
    return self.korean + self.english + self.math

  def get_mean(self):
    return self.get_total() / 3

  def print_info(self):
    print(f'이름:{self.name}, 총점:{self.get_total()}, 평균: {self.get_mean()}')

In [ ]:
stu1 = Student(name='홍길동', korean=100, english=80, math=70)

In [ ]:
stu1

In [ ]:
stu1.get_total()

250

In [ ]:
stu1.get_mean()

83.33333333333333

In [ ]:
stu1.print_info()

이름:홍길동, 총점:250, 평균: 83.33333333333333

In [ ]:
dir(stu1) # 객체가 가지고 있는 멤버들(속성과 매서드)의 리스트

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'english',
 'get_mean',
 'get_total',
 'korean',
 'math',
 'name',
 'print_info']

# class 작성 연습

In [ ]:
import math # 수학 관련 함수들을 사용하기 위해서

In [ ]:
class Point:
  """
  2차원 평면의 점의 좌표를 표현하는 클래스
  """
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  def move(self, dx=0, dy=0):
    """점의 좌표를 원래 위치에서 x축의 방향으로 dx만큼 y축의 방향으로 dy만큼 이동"""
    self.x += dx
    self.y += dy
    print(f'x: {self.x}, y: {self.y}')


  def distance(self, other):
    """현재 위치와 다른 Point other사이의 거리를 리턴"""
    return ((self.x - other.x)**2 + (self.y - other.y)**2)**0.5

In [ ]:
p1 = Point() # 생성자 호출 -> Point 클래스의 인스턴스 생성

In [ ]:
print(p1)

<__main__.Point object at 0x7f193ce28790>

In [ ]:
# 객체(인스턴스)의 속성들(멤버 변수들)
print(p1.x)
print(p1.y)

0
0

In [ ]:
p2 = Point(x=3, y=4)
print(p2)
print(p2.x)
print(p2.y)

<__main__.Point object at 0x7f193cd62910>
3
4

In [ ]:
p3 = Point(1)
print(p3)
print(p3.x)
print(p3.y)

<__main__.Point object at 0x7f193ce09a50>
1
0

In [ ]:
p4 = Point(y=1)
print(p4)
print(p4.x, p4.y)

<__main__.Point object at 0x7f193ce0aad0>
0 1

In [ ]:
# p4를 x축의 방향으로 1만큼, y축의 방향으로 2만큼 이동
p4.move(dx=1, dy=2)
print(p4.x, p4.y)

x: 1, y: 3
1 3

In [ ]:
p1.distance(p2)

5.0

In [ ]:
class Rectangle:
  """직사각형: 꼭지점의 x좌표, 꼭지점의 y좌표, 가로길이, 세로길이, 둘레 길이 기능, 넓이 기능"""
  def __init__(self, x=0, y=0, w=0, h=0):
    self.x = x
    self.y = y
    self.width = w
    self.height = h
  
  def round(self):
    return 2*(self.width + self.height)
  
  def area(self):
    return self.width * self.height

In [ ]:
# 꼭지점의 좌표가 원점(0,0)이고, 가로 길이는 2, 세로 길이는 3인 직사각형
rect1 = Rectangle(w=2, h=3)

In [ ]:
rect1.round() # 2 * (2 + 3)

10

In [ ]:
# 꼭지점의 좌표가 (1, 1)이고, 가로 길이는 4, 세로 길이는 3인 직사각형
rect2 = Rectangle(x=1, y=1, w=4, h=3)

In [ ]:
rect2.round()

14

In [ ]:
rect2.area()

12

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드.

* `__init__(self)`: 생성자를 호출하면 자동으로 호출되는 메서드.
* `__str__(self)` : print() 함수에서 자동으로 호출되는 메서드.
* `__repr__(self)` : 식(expression)을 자동으로 출력할 때 호출되는 메서드.
    * 클래서에서 `__str__`과 `__repr__` 메서드가 다르게 구현되어 있으면, print() 함수의 출력과 식을 출력하는 내용이 다름.
    * `print` 함수는 `__str__` 메서드가 구현되어 있으면 `__str__`를 호출하고, `__str__`함수가 구현되어 있지 않으면 `__repr__` 함수를 호출함.
* `__eq__(self, o)` : `==` 연산자가가 사용됐을 때 자동으로 호출되는 메서드.
* `__add__(self, o)` : `+` 연산자가 사용됐을 때 자동으로 호출되는 메서드.
* `__mul__(self, o)` : `*` 연산자가 사용됐을 때 자동을로 호출되는 메서드.

In [ ]:
x = 1
print(x.__str__())
x.__repr__()

1

'1'

In [ ]:
class Test:
  def __init__(self):
    print('Test 객체 생성됨')
  
  # def __str__(self):
  #   return 'Test 클래스 객체'

  def __repr__(self):
    return 'Test 인스턴스'

In [ ]:
test = Test() # Test 클래스의 인스턴스 생성

Test 객체 생성됨

In [ ]:
print(test) # 문장(statement) - print 함수는 객체의  __str__() 메서드가 리턴하는 문자열을 출력
test # 식(expression) - 식이 자동으로 출력될 때는 객체의 __repr__() 메서드가 리턴하는 문자열을 출력

Test 인스턴스

Test 인스턴스

In [ ]:
numbers1 = [1,2,3]
numbers2 = [1,2,3]
numbers1 == numbers2 # == 연산자가 __eq__() 메서드를 호출: numbers1.__eq__(numbers2)

True

In [ ]:
id(numbers1) # 리스트 numbers1의 주소값

139746371688000

In [ ]:
id(numbers2) # 리스트 numbers2의 주소값

139746371415328

In [ ]:
class Test2:
  def __init__(self, x):
    self.x = x
  
  def __eq__(self, other):
    if isinstance(other, Test2):
      if self.x == other.x:
        return True
    return False

In [ ]:
t1 = Test2(1)
t2 = Test2(1)

In [ ]:
print(id(t1))
print(id(t2))
t1 == t2

139746371437264
139746371439248

True

In [ ]:
t1 == t2 # t1.__eq__(t2)의 결과

True

In [ ]:
s1 = ''
s2 = ''
s1 == s2

True

In [ ]:
numbers1 = [1,2]
numbers2 = [3,4]
numbers1 + numbers2 # numbers1.__add__(numbers2)

[1, 2, 3, 4]

In [ ]:
numbers1 * 3 # numbers1.__mul__(3)

[1, 2, 1, 2, 1, 2]

# class 작성 연습

## Ex 1. Score 클래스

* 속성(attribute) : 
    * 국어, 영어, 수학 점수
    * 모든 과목의 기본값은 0
* 기능(method):
    * `__repr__` : Score{국어=100, 영어=100, 수학=100} 문자열 포맷을 리턴.
    * `calc_sum` : 세 과목 총점을 리턴
    * `calc_mean` : 세 과목 평균을 리턴

In [ ]:
class Score:
  def __init__(self, korean = 0, english = 0, math = 0):
    self.korean = korean
    self.english = english
    self.math = math
  
  def __repr__(self):
    return f'Score{{국어={self.korean}, 영어={self.english}, 수학={self.math}}}'
  
  def calc_sum(self):
    return self.korean + self.english + self.math

  def calc_mean(self):
    return self.calc_sum() / 3

In [ ]:
s1 = Score(korean=100, english=100, math =100)
s1.__repr__()
print(s1.calc_sum())
print(s1.calc_mean())

300
100.0

# Ex 2. Student 클래스

* 속성(attribute):
    * 이름, Score 객체
* 기능(method):
    * `__repr__` : Student{이름: xxx, 점수:  Score{국어=100, 영어=100, 수학=100}} 포맷의 문자열을 리턴.

In [ ]:
class Student:
  def __init__(self, name, korean=0, english=0, math=0):
    self.name = name
    self.Score = Score(korean, english, math)
  
  def __repr__(self):
    return f'Student{{이름:{self.name}, 점수: {self.Score}}}'

In [ ]:
stu1 = Student('홍길동')
stu1.__repr__()

'Student{이름:홍길동, 점수: Score{국어=0, 영어=0, 수학=0}}'

In [ ]:
stu2 = Student('김길동', korean=100, english=100, math=50)
stu2

Student{이름:김길동, 점수: Score{국어=100, 영어=100, 수학=50}}

In [ ]:
# stu2 객체의 점수 합계, 평균
print('총점: ', stu2.Score.calc_sum())
print('평균: ', stu2.Score.calc_mean())

총점:  250
평균:  83.33333333333333

In [ ]:
class Student2:
  def __init__(self, name, score):
    self.name= name
    self.score = score

  def __repr__(self):
    return f'Student{{이름:{self.name}, 점수:{self.score}}}'

In [ ]:
stu3 = Student2('오란씨', s1)
stu3

Student{이름:오란씨, 점수:Score{국어=100, 영어=100, 수학=100}}

In [ ]:
stu4 = Student2('def', Score(100, 90, 80))
stu4

Student{이름:def, 점수:Score{국어=100, 영어=90, 수학=80}}

In [ ]:
print(stu4.score.calc_sum())
print(stu4.score.calc_mean())

270
90.0